In [93]:
import pandas as pd
import numpy as np
from datetime import datetime

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [95]:
# reading the data
df = pd.read_csv('./../data/NYPD_Motor_Vehicle_Collisions.csv')

D:\Miniconda\envs\model\lib\site-packages\IPython\core\interactiveshell.py:3018: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [112]:
df.columns

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

Index(['DATE', 'TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'UNIQUE KEY', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

In [98]:
df2 = df[df['DATE'] < '12/31/2018']

In [99]:
df['NUMBER OF PERSONS INJURED'].sum()

385930.0

In [100]:
df2['NUMBER OF PERSONS INJURED'].sum()

385730.0

In [101]:
# df[df['BOROUGH'] == 'BROOKLYN' && df['DATE'] < '01/01/2016']
START_DATE = '01/01/2016'

END_DATE = '12/31/2016'

# creating a mask with the required values
mask = (df['DATE'] > START_DATE) &(df['DATE'] <= END_DATE) # &(df['BOROUGH'] =='BROOKLYN')

In [102]:
df3 = df[mask]

In [103]:
dfx = df3.groupby(['BOROUGH']).agg({'NUMBER OF MOTORIST INJURED':'sum'})

In [104]:
dfx

               NUMBER OF MOTORIST INJURED
BOROUGH
BRONX                               28476
BROOKLYN                            62381
MANHATTAN                           21156
QUEENS                              52478
STATEN ISLAND                        9282

In [105]:
dfx.apply(lambda x: 100 *x/float(x.sum()))

               NUMBER OF MOTORIST INJURED
BOROUGH
BRONX                           16.386896
BROOKLYN                        35.897982
MANHATTAN                       12.174504
QUEENS                          30.199168
STATEN ISLAND                    5.341451

In [114]:
dfk = df.groupby(['BOROUGH','NUMBER OF CYCLIST KILLED','NUMBER OF CYCLIST INJURED','NUMBER OF MOTORIST INJURED','NUMBER OF MOTORIST KILLED']).agg({'sum'})

In [115]:
dfk

                                                                                                                                                                    DATE  \
                                                                                                                                                                     sum
BOROUGH       NUMBER OF CYCLIST KILLED NUMBER OF CYCLIST INJURED NUMBER OF MOTORIST INJURED NUMBER OF MOTORIST KILLED
BRONX         0                        0                         0                          0                          04/30/201904/30/201904/30/201904/30/201904/30/...
                                                                                            1                          08/19/201807/01/201804/24/201808/21/201708/09/...
                                                                 1                          0                          04/30/201904/30/201904/30/201904/30/201904/30/...
                                                                                            1                          09/04/201808/20/201808/18/201807/13/201801/25/...
                                                                 2                          0                          04/28/201904/27/201904/27/201904/27/201904/26/...
                                                                                            1                                             06/04/201508/11/201207/16/2012
                                                                 3                          0                          04/30/201904/30/201904/25/201904/25/201904/24/...
                                                                                            1                                   02/03/201804/29/201704/18/201508/21/2012
                                                                 4                          0                          04/23/201904/22/201904/14/201904/13/201904/12/...
                                                                 5                          0                          04/28/201904/24/201904/23/201904/09/201903/17/...
                                                                                            1                                                                 10/27/2012
                                                                 6                          0                          04/04/201903/25/201903/24/201901/20/201912/24/...
                                                                                            1                                                                 06/19/2016
                                                                 7                          0                          12/01/201810/01/201809/06/201807/30/201807/01/...
                                                                 8                          0                          04/08/201910/12/201801/29/201808/13/201711/28/...
                                                                 9                          0                          12/06/201806/25/201803/11/201709/15/201606/01/...
                                                                 10                         0                          02/07/201907/03/201606/21/201506/20/201504/12/...
                                                                                            1                                                                 06/28/2015
                                                                 11                         0                                   03/11/201912/14/201808/21/201605/02/2013
                                                                 12                         0                                   02/09/201905/10/201608/20/201510/25/2013
                                                                 13                         0                                   07/07/201406/04/201403/08/201412/13/2013
                                                                 14                         0                                             07/19/201712/16/201405/31/2013
                                                                 17                         0                                                       04/30/201805/20/2014
                                                                 18                         0                                                                 06/14/2017
                                                                 19                         0                                                                 06/21/2017
                                                                 20                         0                                                                 11/16/2018
                                                                 31                         0                                                                 10/10/2017
                                       1                         0                          0                          04/30/201904/30/201904/27/201904/23/201904/23/...
                                                                 1                          0                          10/21/201708/24/201707/06/201709/01/201606/01/...
                                                                 2                          0                                             07/07/201806/27/201707/11/2013
...                                                                                                                                                                  ...
QUEENS        0                        1                         2                          0                                                       06/10/201510/06/2012
                                                                 3                          0                                                       09/17/201609/20/2014
                                       2                         0                          0                          12/22/201811/01/201810/14/201809/17/201808/15/...
                                       3                         0                          0                                                       04/09/201909/26/2016
              1                        0                         0                          0                          03/14/201907/23/201812/18/201711/17/201708/17/...
STATEN ISLAND 0                        0                         0                          0                          04/30/201904/30/201904/30/201904/30/201904/30/...
                                                                                            1                          04/17/201902/21/201801/06/201807/15/201704/29/...
                                                                 1                          0                          04/30/201904/29/201904/29/201904/28/201904/27/...
                                                                                            1                          05/27/201805/14/201601/16/201605/10/201503/02/...
                                                                 2                          0                          04/26/201904/25/201904/17/201904/09/201904/08/...
                                                                                            1                                             04/21/201801/10/201412/14/2013
                                                                                            2                                                                 08/27/2012
                                                                 3                          0                          04/29/201904/04/201903/20/201903/19/201903/11/...
                                                                                            1                                             10/06/201711/09/201512/22/2014
                                                                 4                          0                          04/06/201902/26/201902/25/201902/16/201902/09/...
                                                                 5                          0                          02/26/201901/21/201901/06/201912/18/201810/08/...
                                                                                            1                                                                 04/09/2017
                                                                 6                          0                          12/29/201808/14/201806/09/201810/22/201708/21/...
                                                                 7                          0                          04/14/201911/11/201508/10/201505/10/201504/27/...
                                                                 8                          0                                             11/27/201410/30/201304/14/2013
                                                                 9                          0                                                                 06/20/2015
                                                                 10                         0                                   11/14/201707/22/201603/17/201506/28/2013
                                                                 11                         0                                                                 05/18/2017
                                                                 12                         0                                                                 02/12/2015
                                                                 22                         0                                                                 02/04/2015
                                       1                         0                          0                          04/27/201904/23/201904/20/201904/07/201903/01/...
                                                                 1                          0                                   05/21/201702/18/201609/03/201508/02/2014
                                       2                         0                          0                                                                 05/09/2018
              1                        0                         0                          0                                                                 02/16/2016
                                       1                         0                          0                                                                 09/14/2015

                                                                                                                                                                    TIME  \
                                                                                                                                                                     sum
BOROUGH       NUMBER OF CYCLIST KILLED NUMBER OF CYCLIST INJURED NUMBER OF MOTORIST INJURED NUMBER OF MOTORIST KILLED
BRONX         0                        0                         0                          0                          10:1510:3010:4511:0011:2011:3013:0713:1513:221...
                                                                                            1                          6:3813:0219:1614:2710:4421:1816:5410:1621:069:...
                                                                 1                          0                          14:0016:3018:0419:582:458:309:2511:2713:205:51...
                                                                                            1                          7:3820:3923:197:109:533:025:203:2013:151:5112:...
                                                                 2                          0                          15:3714:5019:4519:5511:3017:3817:4218:4522:388...
                                                                                            1                                                            17:3212:1823:17
                                                                 3                          0                          11:428:300:1720:109:4911:5019:4712:3421:5316:5...
                                                                                            1                                                         2:5310:021:5521:32
                                                                 4                          0                          21:368:2016:0013:3022:0020:000:0021:2523:0711:...
                                                                 5                          0                          15:3520:2318:4017:0917:156:5510:4911:010:0515:...
                                                                                            1                                                                      18:30
                                                                 6                          0                          14:580:005:311:0423:004:0512:5016:028:3122:102...
                                                                                            1                                                                       4:56
                                                                 7                          0                          1:157:308:3018:4218:000:2519:0016:1521:457:502...
                                                                 8                          0                          19:0015:479:3318:1510:3014:329:0022:1016:4017:...
                                                                 9                          0                             15:2116:300:4822:159:088:1513:4111:0018:208:05
                                                                 10                         0                                                  10:0614:0115:2323:2022:02
                                                                                            1                                                                       4:35
                                                                 11                         0                                                         8:5016:1513:257:55
                                                                 12                         0                                                         7:2922:4021:308:50
                                                                 13                         0                                                         7:508:5016:0814:30
                                                                 14                         0                                                             8:1110:0014:40
                                                                 17                         0                                                                  9:0916:50
                                                                 18                         0                                                                       9:35
                                                                 19                         0                                                                      17:28
                                                                 20                         0                                                                      12:20
                                                                 31                         0                                                                      17:10
                                       1                         0                          0                          16:009:3015:2614:2723:1219:309:1517:0517:5023:...
                                                                 1                          0                          5:539:0023:362:3513:2818:5616:4523:437:3018:35...
                                                                 2                          0                                                            13:5821:3819:00
...                                                                                                                                                                  ...
QUEENS        0                        1                         2                          0                                                                 17:0015:15
                                                                 3                          0                                                                   6:211:25
                                       2                         0                          0                          17:3519:3018:3017:5514:5019:255:4521:307:4015:...
                                       3                         0                          0                                                                 14:4719:13
              1                        0                         0                          0                          7:5223:077:4714:4322:4717:300:008:078:458:4519...
STATEN ISLAND 0                        0                         0                          0                          14:0015:0017:0417:2018:1419:2010:0014:5015:371...
                                                                                            1                          13:2618:2016:5612:0419:2810:152:284:009:301:20...
                                                                 1                          0                          18:5610:3016:0512:2014:3018:2022:0013:3016:001...
                                                                                            1                                                  12:2313:3911:4322:5016:45
                                                                 2                          0                          20:4023:008:1515:1020:0020:3511:2014:008:4514:...
                                                                                            1                                                              3:0519:165:05
                                                                                            2                                                                      19:05
                                                                 3                          0                          8:125:0020:5010:5014:1014:4510:3014:377:307:45...
                                                                                            1                                                             6:5711:1523:12
                                                                 4                          0                          21:3316:3014:3318:1915:0019:5013:4514:308:208:...
                                                                 5                          0                          23:209:2514:0019:3012:143:2421:1814:3514:4523:...
                                                                                            1                                                                      14:00
                                                                 6                          0                          10:4018:2220:3620:5316:4016:008:0018:0017:2017...
                                                                 7                          0                                             21:1512:2017:1516:3012:3020:15
                                                                 8                          0                                                              0:107:4219:24

In [108]:
dfi = df3.groupby(['BOROUGH']).agg({'NUMBER OF CYCLIST INJURED':'sum'})

In [113]:
dfi.apply(lambd x: 100 *x/float(x.sum()))

SyntaxError: invalid syntax (<ipython-input-113-0c2e2729a4c9>, line 1)