 # Data Incubator Challenge
``` Kirubel Tadesse ```

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

## Section 1: Members of Congress and Congressional offices receive an annual budget to spend on staff, supplies, transportation, and other expenses. Each quarter, representatives report the recipients of their expenditures. ProPublica compiles these reports into research-ready CSV files. Download the full data set. We will study the detailed (not summary) data. The full data set includes a readme text file describing the data in more detail, which may be helpful in completing this challenge. Note that there is an updated version of the 2015Q2 file in the ZIP archive; you should use this and discard the original.

In [2]:
# reading the data
df = pd.read_csv("2018Q2-house-disburse-detail.csv")

In [3]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
AMOUNT,105294.0,11427.173682,360194.748486,-1572889.44,45.17,212.48,1025.0,62457223.86

#### notice that the "AMOUNT column contain extra space

In [31]:
df.columns

Index(['BIOGUIDE_ID', 'OFFICE', 'PROGRAM', 'SORT SUBTOTAL DESCRIPTION',
       'SORT SEQUENCE', 'TRANSACTION DATE', 'DATA SOURCE', 'DOCUMENT', 'PAYEE',
       'START DATE', 'END DATE', 'PURPOSE', 'AMOUNT', 'END', 'START',
       'COVERAGE PERIOD'],
      dtype='object')

In [5]:
df[u'AMOUNT                                                                                                                                           '].sum()

1203212825.6799998

### reassign the columns to get read off the extra space

In [6]:
df.columns =[u'BIOGUIDE_ID', u'OFFICE', u'PROGRAM', u'SORT SUBTOTAL DESCRIPTION',
       u'SORT SEQUENCE', u'TRANSACTION DATE', u'DATA SOURCE', u'DOCUMENT',
       u'PAYEE', u'START DATE', u'END DATE', u'PURPOSE',
       u'AMOUNT']

### the total of all the payments in the dataset

In [7]:
df["AMOUNT"].sum()

1203212825.6799998

In [8]:
df.head()

,BIOGUIDE_ID,OFFICE,PROGRAM,SORT SUBTOTAL DESCRIPTION,SORT SEQUENCE,TRANSACTION DATE,DATA SOURCE,DOCUMENT,PAYEE,START DATE,END DATE,PURPOSE,AMOUNT
0,NaN,2018 OFFICE OF THE SPEAKER,OFFICIAL EXPENSES - LEADERSHIP,OTHER SERVICES,DETAIL,2018-04-16,AP,983888,CITI PCARD-TLF WISTERIA FLOWERS A,2018-03-01,2018-03-28,REPRESENTATIONAL EXPENSES,362.00
1,NaN,2018 OFFICE OF THE SPEAKER,OFFICIAL EXPENSES - LEADERSHIP,OTHER SERVICES,SUBTOTAL,,,,,,,OTHER SERVICES TOTALS:,362.00
2,NaN,2018 OFFICE OF THE SPEAKER,OFFICIAL EXPENSES - LEADERSHIP,OTHER SERVICES,SUBTOTAL,,,,,,,OFFICIAL EXPENSES - LEADERSHIP TOTALS:,362.00
3,NaN,2018 OFFICE OF THE SPEAKER,GENERAL EXPENDITURES,FRANKED MAIL,DETAIL,2018-06-26,AP,998542,UNITED STATES POSTAL SERVICE,2018-05-01,2018-05-31,FRANKED MAIL,133.07
4,NaN,2018 OFFICE OF THE SPEAKER,GENERAL EXPENDITURES,FRANKED MAIL,SUBTOTAL,,,,,,,FRANKED MAIL TOTALS:,133.07

In [9]:
df['END']= pd.to_datetime(df['END DATE'].replace('   ', np.nan),format='%Y-%m-%d') #, errors='ignore')

#df['END DATE'] = pd.to_datetime(df[u'END DATE'])

df[u'START'] = pd.to_datetime(df[u'START DATE'].replace('   ', np.nan), format='%Y-%m-%d')#, errors='ignore')
# for each in df['END']:
#     datetime.strptime(each, '%Y-%m-%d')

df['COVERAGE PERIOD']=(df['END'] - df[u'START'])

### Standard Deviation

In [10]:
df[(df["AMOUNT"] > 0)].count()

BIOGUIDE_ID                   81602
OFFICE                       101979
PROGRAM                      101979
SORT SUBTOTAL DESCRIPTION    101979
SORT SEQUENCE                101979
TRANSACTION DATE             101977
DATA SOURCE                  101979
DOCUMENT                     101979
PAYEE                        101979
START DATE                   101977
END DATE                     101977
PURPOSE                      101979
AMOUNT                       101979
END                           94787
START                         94787
COVERAGE PERIOD               94787
dtype: int64

In [11]:
df['STD'] = pd.rolling_std(df['COVERAGE PERIOD'], 94787, min_periods=1).sum()/97854

AttributeError: module 'pandas' has no attribute 'rolling_std'

In [12]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
AMOUNT,105294,11427.2,360195,-1.57289e+06,45.17,212.48,1025,6.24572e+07
COVERAGE PERIOD,97854,27 days 02:27:16.544239,91 days 13:39:16.168718,0 days 00:00:00,1 days 00:00:00,29 days 00:00:00,30 days 00:00:00,25567 days 00:00:00

In [13]:
df['STD'].plot()

KeyError: 'STD'

In [14]:
df.head()

,BIOGUIDE_ID,OFFICE,PROGRAM,SORT SUBTOTAL DESCRIPTION,SORT SEQUENCE,TRANSACTION DATE,DATA SOURCE,DOCUMENT,PAYEE,START DATE,END DATE,PURPOSE,AMOUNT,END,START,COVERAGE PERIOD
0,NaN,2018 OFFICE OF THE SPEAKER,OFFICIAL EXPENSES - LEADERSHIP,OTHER SERVICES,DETAIL,2018-04-16,AP,983888,CITI PCARD-TLF WISTERIA FLOWERS A,2018-03-01,2018-03-28,REPRESENTATIONAL EXPENSES,362.00,2018-03-28,2018-03-01,27 days
1,NaN,2018 OFFICE OF THE SPEAKER,OFFICIAL EXPENSES - LEADERSHIP,OTHER SERVICES,SUBTOTAL,,,,,,,OTHER SERVICES TOTALS:,362.00,NaT,NaT,NaT
2,NaN,2018 OFFICE OF THE SPEAKER,OFFICIAL EXPENSES - LEADERSHIP,OTHER SERVICES,SUBTOTAL,,,,,,,OFFICIAL EXPENSES - LEADERSHIP TOTALS:,362.00,NaT,NaT,NaT
3,NaN,2018 OFFICE OF THE SPEAKER,GENERAL EXPENDITURES,FRANKED MAIL,DETAIL,2018-06-26,AP,998542,UNITED STATES POSTAL SERVICE,2018-05-01,2018-05-31,FRANKED MAIL,133.07,2018-05-31,2018-05-01,30 days
4,NaN,2018 OFFICE OF THE SPEAKER,GENERAL EXPENDITURES,FRANKED MAIL,SUBTOTAL,,,,,,,FRANKED MAIL TOTALS:,133.07,NaT,NaT,NaT

### What was the average annual expenditure with between "STARET DATE" AND INCLDUSIVE "END DATE"

In [15]:
START_DATE = datetime.strptime('2010-01-01','%Y-%m-%d')

END_DATE = datetime.strptime('2016-12-31','%Y-%m-%d')

# creating a mask with the required values
mask = (df['START'] >START_DATE) &(df['END'] <= END_DATE) &(df['AMOUNT'] > 1)

In [16]:
# assigning the value
data = df.loc[mask]

In [17]:
# the average annual expenditure
data['AMOUNT'].sum()/12

5478.188333333333

### Find the 'OFFICE' with the highest total expenditures with a 'START DATE' and 'PURPOSE' that accounts for the highest total expenditures. What fraction of the total expenditures (all records, all offices) with a 'START DATE' in 2016 do the expenditures amount to?

In [18]:
START_DATE = datetime.strptime('2016-01-01','%Y-%m-%d')
# creating a mask
mask = (df['START'] > START_DATE)

# seleck the data with the mask
data = df[mask]
# data1 = df.loc[mask]
# data1.loc[data1['AMOUNT'].idxmax()]
# data1['AMOUNT'].max()

# groupby the required information and select the first row
print data.groupby(['OFFICE','PURPOSE'], as_index=False)['AMOUNT'].max()[:1]
amount = data.groupby(['OFFICE','PURPOSE'], as_index=False)['AMOUNT'].max()[:1]["AMOUNT"]
print '\n'
total = data['AMOUNT'].sum()
print " the total amount",data['AMOUNT'].sum()

#the fraction of the high amount to total ammount (high amount)/ (total amount)
print "here is the fraction: ", amount/total

SyntaxError: invalid syntax (<ipython-input-18-78de9a3887f6>, line 12)

### What was the highest average staff salary among all representatives in 2016? Assume staff sizes is equal to the number of unique payees in the 'PERSONNEL COMPENSATION' category for each representative.

In [19]:
# getting the number of staff
staff = pd.DataFrame(data = df[mask]['PAYEE'].unique())

# gettting the staff size
staff_sizes = staff.count()

#df[mask]

# df_payee = pd.DataFrame(data=(df[mask].groupby(['PAYEE'], as_index=False)))

# Assuming the staff sizes is equal to the number of unique payess
# df_payee
# print df_payee.unique()
#['AMOUNT'].max()

## Section 2: You have a deck with N different playing cards, equally distributed amongst M suits. You draw all cards without putting any back in the deck. After drawing the first card, you compare the suit of each subsequent card drawn with the suit of the card drawn immediately before. If the suits match, you get a point. Otherwise, you get no points. Please answer the following questions about the total number of points, P, at the end of the process.

### What is the mean of P when N=26 and M=2?

In [20]:
(1.0/26.0)*(1.0/12.0)

0.003205128205128205

In [21]:
np.sqrt(np.mean((1.0-0.003205128205128205))**2)

0.9967948717948718

In [22]:
(1.0/26.0)*(1.0/12.0) + (1.0/24.0)*(1.0/11.0) +(1.0/22.0)*(1.0/10.0)+(1.0/20.0)*(1.0/9.0) + \
(1.0/18.0)*(1.0/8.0) +(1.0/16.0)*(1.0/7.0) +(1.0/16.0)*(1.0/6.0) +(1.0/14.0)*(1.0/5.0) + \
(1.0/12.0)*(1.0/4.0)+(1.0/10.0)*(1.0/3.0)+(1.0/8.0)*(1.0/2.0) +(1.0/6.0)*(1.0/1.0)

0.34100274725274726

In [23]:
(1.0/26.0)*(1.0/12.0) + (1.0/24.0)*(1.0/11.0) +(1.0/22.0)*(1.0/10.0)+(1.0/20.0)*(1.0/9.0) + \
(1.0/18.0)*(1.0/8.0) +(1.0/16.0)*(1.0/7.0)

0.03296703296703297

In [24]:
((0.34100274725274726)*(0.03296703296703297))/0.03296703296703297

0.34100274725274726

### What is the mean of P when N=52 and M=4?

In [25]:
(1.0/52.0)*(1.0/12.0)

0.0016025641025641025

In [26]:
np.sqrt(np.mean((1.0-0.0016025641025641025))**2)

0.9983974358974359

In [27]:
(1.0/52.0)*(1.0/12.0) + (1.0/50.0)*(1.0/11.0) +(1.0/48.0)*(1.0/10.0)+(1.0/46.0)*(1.0/9.0) + \
(1.0/44.0)*(1.0/8.0) +(1.0/42.0)*(1.0/7.0) +(1.0/40.0)*(1.0/6.0) +(1.0/38.0)*(1.0/5.0) + \
(1.0/36.0)*(1.0/4.0)+(1.0/34.0)*(1.0/3.0)+(1.0/32.0)*(1.0/2.0) +(1.0/30.0)*(1.0/1.0)

0.08929833173421284

In [28]:
(1.0/52.0)*(1.0/12.0) + (1.0/50.0)*(1.0/11.0) +(1.0/48.0)*(1.0/10.0)+(1.0/46.0)*(1.0/9.0) + \
(1.0/44.0)*(1.0/8.0) +(1.0/42.0)*(1.0/7.0)

0.0141618078264041

In [32]:
((0.08929833173421284)*(0.0141618078264041))

0.001264625813238405